settings:
  # the name of the vector db collection to be used.
  collection_name: "private-query-collection"
  chroma:
    # Local persistent client config
    type: "local"
    persist_directory: "./vector-store"
    # Remote client config
    # type: "remote"
    # uri: "<chroma_server_uri>"
    # database: "<chroma_db_name>"

    # The embedding model to use.
    embedding_model: "all-MiniLM-L6-v2"
    model_cache_directory: "./model-cache"
  ollama:
    host: "localhost:8080"
    #api_key: <your API key"
    model: "llama3.2:latest"

  data_directory: "./data"